*
{
    font-family: Times, serif;
}
body
{
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: Times, serif;
}
#baner
{
    word-wrap: break-word;
    min-width: 900px;
    max-width: 1220px;
    display: flex;
    height: auto;
    justify-content: space-between;
    border-bottom: 4px solid rgb(22, 206, 238);
    box-shadow: 0px 0px 10px rgb(22, 206, 238);
}
#tytul
{
    margin-left: 10px;
    margin-top: 10px;
    width: calc(80% - 50px);
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
img
{
    height: 160px;
    width: 160px;
}
label[for="zdjecie"]
{
    font-size: 37px;
    padding-top: 25px;
}
#boss
{
    margin-right: 10px;
    margin-top: 10px;
    width: calc(20% - 25px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
#div1
{
    height: 100px;
    width: 110px;
    border: 2px solid rgb(22, 206, 238);
    border-radius: 10px;
    display: flex;
    margin: none;
    justify-content: center;
    background-color: #000;
}
#radio1, #radio2
{
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #252525;
    border-radius: 50%;
    margin-top: 35px;
    border: 2px solid rgb(22, 206, 238);
    box-shadow: 0px 0px 5px rgb(192, 181, 181);
    transition: 0.5s ease;
}
#radio1:checked, #radio2:checked
{
    background-color: rgb(22, 206, 238);
    border: 7px solid #252525;
}
#div2
{
    height: 35px;
    width: 110px;
    border: 2px solid rgb(22, 206, 238);
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #000;
    cursor: pointer;
}
#radio3, #radio4
{
    appearance: none;
    border-radius: 10px;
    height: 30px;
    width: 55px;
    margin: 2.5px 0px 0px 0px;
    cursor: pointer;
}
#suwak
{
    height: 30px;
    width: 55px;
    margin: 2.5px 0px 0px 0px;
    background-color: #252525;
    border-radius: 10px;
    z-index: 1;
    display: block;
    position: absolute;
    transition: 0.5s ease;
    cursor: pointer;
}
#radio3:nth-of-type(1):checked ~ #suwak
{
    transform: translateX(-50%);
}
#radio4:nth-of-type(2):checked ~ #suwak
{
    transform: translateX(50%);
}
label[for="radio3"]
{
    z-index: 2;
    position: absolute;
    margin: 6px 0px 0px -55px;
    font-size: 15px;
    cursor: pointer;
}
label[for="radio4"]
{
    z-index: 2;
    position: absolute;
    margin: 6px -55px 0px 0px;
    font-size: 15px;
    cursor: pointer;
}
/*Tu jest header*/




nav
{
    min-width: 900px;
    max-width: 1220px;
    height: 57px;
    margin: 10px;
    border-bottom: 4px solid rgb(22, 206, 238);
    display: flex;
    justify-content: space-around;
    background-color: #1b1b1b;
}
a
{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
	text-transform: uppercase;
    align-items: center;
}
p
{
    margin: 0;
    padding: 0;
}
.navi
{
    height: calc(100% - 8px);
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: transparent;
}
ul
{
    margin: 0;
    padding: 0;
}
li
{
    list-style: none;
    font-size: 25px;
	text-transform: uppercase;
}
.ulli:hover
{
    cursor: pointer;
    color: rgb(22, 206, 238);
}
ol li:hover
{
    color: rgb(22, 206, 238);
    cursor: pointer;
}
.li
{
	padding: 10px 20px 10px 20px;
    word-wrap: break-word;
    font-size: 25px;
    width: auto;
	text-transform: none;
    background-color: #1b1b1b;
    text-align: center;
}
.navi ol
{
    padding: 0;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    left: -999rem;
    margin-top: 10px;
    
}
.navi:hover ol
{
    left: auto;
}
/*tu jest nawigacja*/



#section1
{
	width: calc(100% - 20px);
	margin: 0px 10px 0px 10px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
    border-bottom: 4px solid rgb(22, 206, 238);
}
#rutkiul
{
	display: flex;
    text-align: center;
}
.rutkili
{
	list-style: none;
}
.rutkidiv
{
	font-size:80px;
	margin:10px 20px 10px 20px;
	color: rgb(22, 206, 238);
	text-shadow: 0px 0px 20px rgb(22, 206, 238);
	animation: color 2.5s linear infinite;
}
@keyframes color {
  0%   {filter: hue-rotate(0deg)}
  100% {filter: hue-rotate(360deg)}
}
/*Napis RUTKI*/



#article
{
	min-width: 900px;
    max-width: 1220px;
	padding: 0;
	margin: 0;
    margin-top: 20px;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#panell
{
	float: left;
	width: 60%;
	height: auto;
    margin-top: 20px;
}
#showmore
{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(22, 206, 238);
    width: calc(90% + 20px);
}
button
{
    height: 35px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: 900;
}
#pp
{
    transform: translateY(-15px);
}
button:hover
{
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgb(22, 206, 238) inset;
    letter-spacing: 7px;
}
#panelp
{
	float: left;
	width: calc(40% - 40px);
	height: auto;
    padding: 0px 0px 0px 10px;
    margin-top: 20px;
}
#linki
{
    background-color: #1b1b1b;
    padding: 20px 20px 10px 20px;
    margin: auto 17px auto auto;
}
#panelp h3
{
    margin-top: 0;
    font-size: 25px;
    padding-left: 15px;
    text-transform: uppercase;
}
.divpanelp
{
	
    width: 80%;
    word-wrap: break-word;
    background-color: #666666;
    height: auto;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    margin: 20px auto;
}
.divpanelp:hover
{
    background-color: #979797;
    padding: 5px 25px 5px 15px;
}
/* tu są linki */




.news
{
    width: calc(90% + 20px);
    height: auto;
    border-bottom: 2px solid rgb(22, 206, 238);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px 10px 30px 20px;
    display: flex;
    justify-content: center;
    background-color: #1b1b1b;
    flex-direction: column;
}
.newszawartosc
{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 185px;
}
.newsoverflow
{
    position: absolute;
    width: 100%;
    height: 190px;
    background: linear-gradient(180deg, transparent, #1b1b1b);
}
.newsheader
{
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.newszawartosc img
{
    float: left;
    height: auto;
    width: calc(30% - 10px);
    margin: 10px 10px 0 0;
    pointer-events: none;
}
.newszawartosc h2
{
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size:25px;
    display: flex !important;
}
.newsdata
{
    margin: 0 0 15px 0;
    pointer-events: none;
    font-size: 18px !important;
    display: flex !important;
}
.newsp
{
    font-size: 22px !important;
    line-height: 25px;
    display: flex !important;
    margin-bottom: 10px;
    pointer-events: none;
    justify-content: flex-start;
    flex-direction: column;
}
.newsp a
{
    display: flex;
    font-size: 22px;
    color: rgb(22, 206, 238);
    height: auto;
    text-transform: none;
    text-decoration: underline;
}
.divnewsczytajwiecej
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsczytajwiecej
{
    font-size: 20px;
    display: block;
    margin: 10px 0 0 0;
    text-align: center;
    align-items: center;
    color: #666666;
    border-bottom: 2px solid #666666;
    width: 180px;
}
.newsczytajwiecej:hover
{
    font-size: 21px;
    width: 200px;
    cursor: pointer;
    transform: translateY(2px);
}
.photos
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: center;
}
.photos img
{
    float: left;
    width: calc(33.33% - 10px);
    height: auto;
    margin: 5px;
}
.imgnapolowe
{
    float: left;
    height: auto;
    width: calc(50% - 10px) !important;
    margin: 5px;
}
.imgnacale
{
    float: left;
    height: auto;
    width: calc(100% - 10px) !important;
    margin: 5px;
}
#chevron-up
{
    height: 35px;
    width: 35px;
}
/*Tu są newsy*/



#divbezp
{
    height: auto;
    width: calc(100% - 40px);
    padding: 20px 0px 10px 0px;
    background-color: #1b1b1b;
}
#fbezp
{
    height: auto;
    width: 100%;
    margin: 0;
    margin-left: 15px;
}
#abezp
{
    height: 100%;
    width: 100%;
}
#imgbezp
{
    height: 100%;
    width: 100%;
}
/* Tu jest zdjecie 10 zasad*/





footer
{
    min-width: 900px;
    max-width: 1220px;
    height: auto;
    margin: 0;
}
#up
{
    width: 100%;
    height: auto;
    background-color: #1b1b1b;
    display: flex;
    justify-content: space-between;
}
#upleft
{
    width: calc(40% - 40px);
    height: 100%;
    padding: 20px;
    margin: 10px 20px 0px 20px;
}
#iframemapa
{
    width: 400px;
    height: 200px;
}
#upright
{
    width: calc(60% - 40px);
    height: 100%;
    padding: 20px;
    margin: 10px 20px 0px 20px;
}
label[for="map-pin"]
{
    margin-left: 35px;
    display: flex;
    transform: translateY(-25px);
    font-size: 18px;
}
#kontakt
{
    border: 2px solid #1b1b1b;
}
#adres, #tel
{
    margin-bottom: 15px;
    margin-left: 20px;
    color: #666666;
    font-size: 17px;
}
.mediadata
{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.mediadata:hover
{
    color: rgb(22, 206, 238);
}
#down
{
    background-color: #000;
    width: calc(100%-20px);
    height: 100px;
    padding: 0px 20px 0px 20px;
    float: right;
}
#odpowiednip
{
    transform: translateX(-999rem);
    z-index: -999;
}
#ulfoot
{
    list-style: none;
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.lifoot
{
    margin: 30px 10px 10px 10px;
}
.foota
{
    font-size: 12.5px;
	color: #fff;
}
.foota:hover
{
    color: rgb(22, 206, 238);
    cursor: pointer;
}
#copyright
{
    color: #666666;
    text-align: right;
    margin: 0px 10px 20px 20px;
    font-size: 10px;
}
/*Koniec strony głównej*/













#podstronasection
{
    min-width: 900px;
    max-width: 1220px;
    margin: 20px 0;
    height: auto;
}
#podstronaleft
{
    width: calc(75% - 66px);
    height: auto;
    padding: 0 20px;
    margin: 0 0 0 10px;
    background-color: #1b1b1b;
    float: left;
    border: 2px solid rgb(22, 206, 238);
    box-shadow: 0 0 20px rgb(22, 206, 238) inset;
}
#podstronaright
{
    width: calc(35% - 142px);
    height: auto;
    padding: 20px 0;
    margin: 0 10px 0 10px;
    background-color: #1b1b1b;
    float: right;
    border: 2px solid rgb(22, 206, 238);
    box-shadow: 0 0 20px rgb(22, 206, 238) inset;
}
.podstronah1
{
    font-size: 2.5em;
    padding: 0 0 0 20px;
}
.podstronah2
{
    font-size: 2em;
    padding: 0 20px;
    line-height: 4vh;
}
.podstronap
{
    width: 95%;
    height: auto;
    font-size: 110%;
    margin-left: 20px;
    margin-bottom: 10px;
}
.pobierz
{
    background-color: #252525;
    box-shadow: 0 0 10px rgb(22, 206, 238) inset;
    margin: 0 20px 20px 20px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pobierz:hover
{
    box-shadow: 0 0 10px #1b1b1b inset;
    background-color: rgb(22, 206, 238);
}
.a
{
    font-size: 1.2em;
}
